@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap");
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes minimize {
  0% {
    transform: scale(1);
    transform-origin: bottom;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes open-window {
  0% {
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: unset;
  font-family: "Pixelify Sans", sans-serif;
  cursor: url("/assets/icons/cursor.svg"), auto;
}

html {
  font-size: 18px;
}

.check {
  color: #018100;
}

.error {
  color: #EA1410;
}

.headPopUp, .headPopUpLogin, .headPopUpSignIn {
  width: 100%;
  background: #000179;
  color: white;
  padding: 5px 2px;
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.headPopUp .buttons-nav, .headPopUpLogin .buttons-nav, .headPopUpSignIn .buttons-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headPopUp .closeButton, .headPopUpLogin .closeButton, .headPopUpSignIn .closeButton {
  width: 20px;
  height: 20px;
  background: url("/assets/icons/cross.svg") center no-repeat;
  background-size: 80%;
  border: 0;
}
.headPopUp .unShowButton, .headPopUpLogin .unShowButton, .headPopUpSignIn .unShowButton {
  width: 20px;
  height: 20px;
  background: url("/assets/icons/bar.svg") center no-repeat;
  background-size: 80%;
  border: 0;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  background: transparent;
  cursor: url("/assets/icons/pointer.svg"), pointer;
  outline: none;
}
button:active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#mainHome {
  background: url("/background.jpg");
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#nav {
  width: 100%;
  background: rgba(225, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dadada;
  font-size: 1.5rem;
  border-bottom: 4px solid #696a6a;
}
#nav .left-nav {
  padding: 0 40px 0 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 2.5px solid #696a6a;
  height: 100%;
}
#nav .left-nav .tools {
  display: flex;
  align-items: center;
  gap: 40px;
}
#nav .left-nav .logo {
  width: 5%;
}
#nav .left-nav nav {
  width: 60%;
}
#nav .left-nav ul {
  display: flex;
  align-content: center;
  gap: 60px;
}
#nav .left-nav .time {
  display: flex;
  align-items: center;
  width: 50px;
}
#nav .right-nav {
  width: 20%;
  height: 100%;
  border-left: 2.5px solid #696a6a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#signin {
  height: 35%;
}

.auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 26%;
  background: #B9B9B9;
  padding: 5px;
  font-size: 1rem;
  overflow: hidden;
  transform-origin: center;
}
.auth .information-form {
  display: flex;
  align-items: start;
  padding-top: 10px;
}
.auth .information-form .iconForm {
  width: 15%;
  margin: 0 40px;
}
.auth .information-form .form-auth {
  display: flex;
  align-items: start;
  width: 85%;
}
.auth .information-form .form-auth .input-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth .information-form .form-auth .input-form-container .title-form {
  padding-bottom: 20px;
}
.auth .information-form .form-auth .input-form-container label {
  position: relative;
}
.auth .information-form .form-auth .input-form-container label:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 10px;
  background: black;
}
.auth .information-form .form-auth .input-form-container input {
  outline: 0;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  padding: 3px 0;
  font-size: 1rem;
}
.auth .information-form .form-auth .input-form-container #name {
  margin-left: 105px;
}
.auth .information-form .form-auth .input-form-container #email {
  margin-left: 96px;
}
.auth .information-form .form-auth .input-form-container #password {
  margin-left: 22px;
}
.auth .information-form .button-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  width: 50%;
}
.auth .information-form .button-form button {
  width: 80%;
}

.loading {
  position: absolute;
  cursor: none;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  background: url("/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-waiting {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/icons/mouseWaiting.gif") center no-repeat;
  background-size: contain;
  z-index: 999;
  width: 30px;
  height: 30px;
}

.loading-window {
  pointer-events: none;
  padding: 5px;
  cursor: wait;
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #B9B9B9;
}
.loading-window .loading-container {
  width: 85%;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  padding: 5px;
}
.loading-window .loading-container .loading-cube {
  height: 30px;
  background: url("/assets/icons/loading.svg") left repeat-x;
  width: 0;
  animation: loading 10s forwards;
}

.nav-bottom {
  position: absolute;
  bottom: 3px;
  left: 0;
  background: #B9B9B9;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0 5px 5px;
}
.nav-bottom img:last-child {
  border: 0;
}
.nav-bottom img {
  width: 50px;
  border-right: 2px solid black;
}

.minimize-window-animation {
  animation: minimize 0.2s linear;
}

.open-window-animation {
  animation: open-window 0.2s linear;
}

.news-button {
  width: 70px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 20px;
  background: #1E1E1E;
}

.news-container {
  width: 20%;
  background: #1E1E1E;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 80px;
  padding: 20px;
  border-radius: 20px;
  max-height: 70%;
  overflow: auto;
}
.news-container .news {
  display: flex;
  flex-direction: column;
}
.news-container article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news-container article p {
  line-height: 20px;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  color: white;
  padding: 2px;
  min-width: 70px;
}
.file img, .file p {
  pointer-events: none;
  user-select: none;
}

.window {
  width: 50%;
  background: #B9B9B9;
  padding: 3px;
  position: absolute;
}
.window .content {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
