@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import 'libs/animation';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: unset;
  font-family: 'Pixelify Sans', sans-serif;
  cursor: url("/assets/icons/cursor.svg"), auto;
}

html {
  font-size: 18px;
  word-spacing: 6px;
}

.check {
  color: #018100;
}

.error {
  color: #EA1410;
}

.headPopUp, .headPopUpLogin, .headPopUpSignIn {
  width: 100%;
  background: #000179;
  color: white;
  padding: 5px 2px;
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  .buttons-nav{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .closeButton{
    width: 20px;
    height: 20px;
    background: url("/assets/icons/cross.svg") center no-repeat;
    background-size: 80%;
    border: 0;
  }

  .unShowButton {
    width: 20px;
    height: 20px;
    background: url("/assets/icons/bar.svg") center no-repeat;
    background-size: 80%;
    border: 0;
  }
}


button {
  padding: 5px 10px;
  font-size: 1rem;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  background: transparent;
  cursor: url("/assets/icons/pointer.svg"), pointer;
  outline: none;

  &:active {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
}

// HomePage

#mainHome {
  background: url("/background.jpg") ;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#nav {
  width: 100%;
  background: rgba(225, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dadada;
  font-size: 1.5rem;
  border-bottom: 4px solid #696a6a;

  .left-nav {
    padding: 0 40px 0 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 2.5px solid #696a6a;
    height: 100%;

    .tools{
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .logo {
      width: 5%;
    }

    nav {
      width: 60%;
    }

    ul {
      display: flex;
      align-content: center;
      gap: 60px ;
    }

    .time {
      display: flex;
      align-items: center;
      width: 50px;
    }
  }

  .right-nav {
    width: 20%;
    height: 100%;
    border-left: 2.5px solid #696a6a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


  }


}

// Auth

.auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 600px;
  background: #B9B9B9;
  padding: 5px;
  font-size: 1rem;
  overflow: hidden;
  transform-origin: center;


  .information-form {
    display: flex;
    align-items: start;
    padding-top: 10px;

    .iconForm {
      width: 15%;
      margin: 0 40px;
    }

    .form-auth {
      display: flex;
      align-items: start;
      width: 85%;

      .input-form-container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .inputs-form {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .title-form {
          padding-bottom: 20px;
        }

        label {
          position: relative;

          &:after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 10px;
            background: black;
          }
        }

        input {
          outline: 0;
          border-top: 2px solid grey;
          border-left: 2px solid grey;
          padding: 3px 0;
          width: 50%;
          font-size: 1rem ;
        }

        #name {
          margin-left: 105px
        }

        #email{
          margin-left: 96px;
        }

        #password {
            margin-left: 22px;
        }
      }
    }

    .button-form {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 10px;
      width: 50%;

      button {
        width: 80%;
      }
    }
  }
}

.loading{
  position: absolute;
  cursor: none;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  background: url("/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-waiting{
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/icons/mouseWaiting.gif") center no-repeat;
  background-size: contain;
  z-index: 999;
  width: 30px;
  height: 30px;
}

.loading-window {
  pointer-events: none;
  padding: 5px;
  cursor: wait;
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #B9B9B9;

  .loading-container {
    width: 85%;
    border-top: 3px solid grey;
    border-left: 3px solid grey;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    padding: 5px;

    .loading-cube {
      height: 30px;
      background: url("/assets/icons/loading.svg") left repeat-x;
      width: 0;
      animation: loading 10s forwards
    }
  }

}

.nav-bottom{
  position: absolute;
  bottom: 3px;
  left: 0;
  background: #B9B9B9;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0 5px 5px;

  img:last-child{
    border: 0;
  }

  img{
    width: 40px;
    padding-right: 5px;
    border-right: 2px solid black;
  }
}

.minimize-window-animation{
  animation: minimize .2s linear;
}

.open-window-animation {
  animation: open-window .2s linear;
}

// News

.news-button{
  width: 70px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 10px;
  border-radius: 20px;
  background: #1E1E1E;
}

.news-container {
  width: 20%;
  background: #1E1E1E;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 80px;
  padding: 20px;
  border-radius: 20px;
  max-height: 70%;
  overflow: auto;
  z-index: 999;

  .news{
    display: flex;
    flex-direction: column;
  }


  article {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      line-height: 20px;
    }
  }
}

.file, .folder{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  color: white;
  padding: 2px;
  min-width: 70px;

  img, p{
    pointer-events: none;
    user-select: none;
  }
}

.folder img {
  width: 50px;
}

.file-in-folder {
  display: flex;
  flex-direction: column;
  align-items: center;

  img, p {
    pointer-events: none;
    user-select: none;
  }
}

.content-folder {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr;
}

.disconnect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;

  .buttons {
    display: flex;
    gap: 10px;
  }
}

.window {
  width: 50%;
  background: #B9B9B9;padding: 3px;
  position: absolute;
  resize: both;
  overflow: auto;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;

  .content {
    margin-top: 10px;
  }
}

.window-folder{
  width: 50%;
  background: #495057;
  color: white;
  padding: 3px;
  position: absolute;
  resize: both;
  overflow: auto;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid black;
  border-right: 3px solid black;

  .headPopUp {
    background: #6c757d;
    color: white;
  }

  .content {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
    margin-top: 10px;
  }
}